<html>
  <head></head>
  <body>
    Dear all,
    <br><br>
      On {{ talks[0].date.strftime("%A (%B %-d)") }}, we will have TWO speakers.
    <br><br><br>
    At {{ talks[0].date.strftime("%-I:%M") }}, {{ talks[0].speaker.text }} will be speaking
    {%  if talks[0].room != talks[1].room:  %}
	in {{ talks[0].room }}
    {%  endif  %}
    on:
    <br><br>
      {{ talks[0].title_email }}
    <br><br><br>

    At {{ talks[1].date.strftime("%-I:%M") }}, {{ talks[1].speaker.text }} will be speaking
    {%  if talks[0].room != talks[1].room:  %}
	in {{ talks[1].room }}
    {%  endif  %}
    on:
    <br><br>
      {{ talks[1].title_email }}
    <br><br><br>
    {%  if talks[0].room == talks[1].room:  %}
	Both talks will be meeting in room {{ talks[0].room }}.
    {%  if not talk.email_notice:  %}
	<br><br>
    {%  endif  %}
    {%  endif  %}
    {%  if talk.email_notice:  %}
    {{ talk.email_notice }}
    <br><br>
    {%  endif  %}
    See you there,
    <br><br>
      -- {{ config.organizer_first_name }}
    <br><br><br>
{%  if talks[0].email_abstract_html:  %}
    {{ talks[0].speaker.text }}'s abstract:
    {{ talks[0].email_abstract_html }}
    <br>
{%  endif  %} {%  if talks[1].email_abstract_html:  %}
    {{ talks[1].speaker.text }}'s abstract:
    {{ talks[1].email_abstract_html }}
{%  endif  %}
  </body>
</html> 