{% extends "layout.html" %}
{% set page = "index" %}
{% block content %}
<h1>Upcoming Talks</h1>

<p>
    The seminar will meet at {{ standard_time }} on {{ standard_weekday }} in
    <a href="http://whereis.mit.edu/?go=2">{{ standard_room }}</a> unless otherwise noted.
</p>
<p>
    <a href="https://calendar.google.com/calendar/r?cid=4vkfr74o0m4jkk3h9chs81d3fm7a8vco@import.calendar.google.com">Click here to add this seminar to your google calendar.</a> 
    If you use a different calendar program, the ics file for this seminar is here: <br> http://math.mit.edu/topology/topology_seminar.ics 
</p>

<ul class="talks" style="margin-top:60px;"> {{ upcoming }} </ul><!--talks-->

<p>
    The mailing list for this seminar is the <a href="https://groups.google.com/forum/#!forum/mit-topology">MIT topology google group</a>.
    <br>
    <a href="https://groups.google.com/forum/#!forum/mit-topology/join">Fill out this form</a> if you want to join the list. 
</p>
{% endblock %} 