<?xml version="1.0" encoding="utf-8"?> <!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
	
<?xml-stylesheet type="text/xsl" href="http://www.w3.org/Math/XSL/mathml.xsl"?> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      xmlns:pref="http://www.w3.org/2002/Math/preference"  pref:renderer="css">
    <script type="text/javascript"
         src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntilConfig"></script>
	 <script src="./local-mathjax-macros.js"></script> <head>
  <link rel="stylesheet" href="github-markdown.css" type="text/css" />
  <title>MIT Topology Seminar Readme</title>
  <meta name="google-site-verification" content="UFraLMG4ydAejwwTH5OpiSSYG3FGodWADGdCBmwV3hc" />
</head>

<body>


<style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
</style>
<article class="markdown-body">
        {{ content }}
</article>

</body> </html> 