\documentclass{article}

\usepackage{amsmath}
\usepackage{amssymb}

\newcommand{\R}{R}
\newcommand{\A}{A}
\newcommand{\Z}{Z}
\newcommand{\Q}{Q}

\begin{document}
\raggedright
@
$text
@
\end{document}
